p{
    border: 1px solid #894f44;
    padding: 4px;
    margin: 10px;
    background-color: #e9c3bd;
}

#container{
    padding: 4px;
    margin: 10px;

}
#cont1{
    padding: 4px;
    margin: 10px;
    
}

#cont2{
    padding: 4px;
    margin: 10px;
    
}
span{
    border: 2px solid #894f44;
    
}